@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: lightcyan;
}

* {
  font-family: Outfit;
}

#btn-prev {
  font-size: 1.5rem;
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.list-group {
  margin: 0% auto;
  width: 250px;
}

.list-group-item {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: lightgrey;
}
