@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  background-color: lightcyan;
}

* {
  font-family: Outfit;
}

.ul-ranking {
  align-items: center;
  block-size: inline;
}

.btn-position {
  position: fixed;
  left: 10px;
  bottom: 20px;
}
